.orderSummary {
  max-width: 40rem;
  margin-bottom: 1rem;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.contentContainer {
  padding-right: 2.5em;
}

.button {
  min-width: 10em;
  text-align: center;
}

@media screen and (max-width: 350px) {
  .contentContainer {
    padding-right: 1.5em;
  }
  .button {
    min-width: 0;
    width: 6em;
  }
}